.toggle-button-container {
  height: 100vh;
}
.body {
  display: flex;
}
.sidebar-menu-list {
  text-align: left;
  list-style: none;
  width: 150px;
  padding: 0;
  margin: 10px;
  font-size: 1rem;
  align-items: center;
  li {
    display: flex;
    align-items: center;
    margin: 5px 5px 8px 5px;
    padding: 5px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
    text-align: center;
    gap:5px;
    cursor: pointer;
  }
  li:hover {
    background-color: #3f51b5;
    color: white;
  }
  mat-icon {
    padding: 5px;
    margin: 0;
  }
}
