.toggle-button-container {
  height: 100vh;
}
.sidebar-container{
  backdrop-filter: blur(10px);
}
.body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../../assets/images/bg-10-full.jpg");
}
.sidebar-menu-list {
  text-align: left;
  list-style: none;
  width: 150px;
  padding: 0;
  margin: 10px;
  font-size: 1rem;
  align-items: center;
  
  li {
    display: flex;
    align-items: center;
    margin: 5px 5px 8px 5px;
    padding: 5px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
    text-align: center;
    gap:5px;
    cursor: pointer;
  }
  li:hover {
    background-color: rgb(255, 0, 102);
    color: white;
  }
  mat-icon {
    padding: 5px;
    margin: 0;
  }
  .logoutButton:hover{
    background-color: rgb(219, 38, 38);
  }
  
}
