<div class="body">
  <div class="head">
    <h1 class="title">User Profile</h1>
  </div>

  <div class="contents">
    <div class="user-profile-block">
      <div class="thumbnail-block" [ngStyle]="{ 'background-color': 'green' }">
        <div class="thumbnail">
          <div class="edit-thumbnail" (click)="updateImage()">
            <p>Update image</p>
          </div>
        </div>
      </div>
      <div class="user-container">
        <table class="user-table">
          <tr>
            <th>Name</th>
            <td>nyname</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>myEmail</td>
          </tr>
          <tr>
            <th>Mobile</th>
            <td>mymobile</td>
          </tr>
          <tr>
            <th>Profile created at</th>
            <td>creation date</td>
          </tr>
          <tr>
            <th>Profile modified at</th>
            <td>modified date</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
