<div class="body">
  <div class="head">
    <h1 class="title">User Profile</h1>
  </div>

  <div class="contents">


    
    <mat-card class="user-card" >
      <mat-card-header>
        <div mat-card-avatar class="user-avatar"></div>
        <mat-card-title>username</mat-card-title>
        <mat-card-subtitle> </mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        class="user-image"
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="User image"
      />
      <mat-card-content>
        <div class="row">
          <div class="head">
            <h4><strong>Email:</strong></h4>
          </div>
          <div class="content">
            <h4>email id</h4>
          </div>
        </div>
        <div class="row">
          <div class="head">
            <h4><strong>Mobile:</strong></h4>
          </div>
          <div class="content">
            <h4>mobile </h4>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">
          Edit
        </button>
        <button mat-raised-button color="warn">
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
