.main-body {
  margin: 0px;
}
.title {
  text-align: center;
  margin-top: 15px;
}
// .close-button-block{
//     position: relative;
//     margin: 0px;
//     padding: 0px;
// }
.close-button-container {
    position: absolute;
    top:0px;
 right: 0px;
}
.contents {
  margin: 20px;
}
